Source: live-f1
Section: net
Priority: optional
Maintainer: Dave Pusey <dave@puseyuk.co.uk>
Build-Depends: debhelper (>= 7), autotools-dev, libncurses5-dev, libneon27-gnutls-dev
Standards-Version: 3.9.1
Homepage: https://launchpad.net/live-f1

Package: live-f1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Formula 1 Live Timing
 The official Formula 1 website includes a Java client, which during races, qualifying, and practice sessions, displays the Live Timing information from the circuit.
 .
 This native Linux client displays information from the same Live Timing feed, without the need for a Java-enabled web browser.
 .
 A free user account at formula1.com is required to access the Live Timing feed..
